{
  "editor.formatOnPaste": true,
  "editor.formatOnSave": true,
  "editor.formatOnSaveTimeout": 5000,
  "diffEditor.renderSideBySide": true,
  "ruby.format": "rubocop",
  "ruby.rubocop.executePath": "pathto//bin/rubocop/",
  "[ruby]": {
    "editor.defaultFormatter": "misogi.ruby-rubocop"
  }
}